# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out
/target

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

/aggregator/
/email-service/
/recruiter-service/src/main/java/com/stackroute/recruiterservice/controlleradvice/GlobalExceptionhandler.java
api-gateway/pom.xml
api-gateway/src/test/java/com/stackroute/apigateway/ApiGatewayApplicationTests.java
authentication-service/pom.xml
authentication-service/src/main/java/com/stackroute/authenticationservice/AuthenticationServiceApplication.java
authentication-service/src/main/resources/application.properties
chat-service/pom.xml
chat-service/src/main/java/com/stackroute/chatservice/ChatServiceApplication.java
chat-service/src/main/java/com/stackroute/chatservice/controller/ChatController.java
chat-service/src/main/java/com/stackroute/chatservice/modal/ChatMessage.java
chat-service/src/main/java/com/stackroute/chatservice/service/ChatMessageService.java
config-server/pom.xml
config-server/src/main/java/com/stackroute/configserver/ConfigServerApplication.java
config-server/src/main/resources/application.properties
#email-service/pom.xml
#email-service/src/main/java/com/stackroute/emailservice/EmailServiceApplication.java
#email-service/src/main/java/com/stackroute/emailservice/config/SwaggerConfig.java
#email-service/src/main/java/com/stackroute/emailservice/controller/EmailController.java
#email-service/src/main/java/com/stackroute/emailservice/dto/EmailDto.java
#email-service/src/main/java/com/stackroute/emailservice/exception/GlobalExceptionHandling.java
#email-service/src/main/java/com/stackroute/emailservice/exception/InvalidEmailException.java
#email-service/src/main/java/com/stackroute/emailservice/model/Email.java
#email-service/src/main/java/com/stackroute/emailservice/service/EmailServiceImpl.java
#email-service/src/main/java/com/stackroute/emailservice/service/IEmailService.java
#email-service/src/main/java/com/stackroute/emailservice/util/Constants.java
#email-service/src/main/java/com/stackroute/emailservice/util/EmailConverter.java
#email-service/src/main/resources/application.properties
#email-service/src/main/resources/mail-logo.png
#email-service/src/test/java/com/stackroute/emailservice/EmailServiceApplicationTests.java
#email-service/src/test/java/com/stackroute/emailservice/controller/EmailControllerTest.java
#email-service/src/test/java/com/stackroute/emailservice/service/EmailServiceTest.java
#email-service/src/test/java/com/stackroute/emailservice/service/EmailValidationServiceTest.java
#email-service/src/test/java/com/stackroute/emailservice/util/EmailConverterTest.java
eureka-server/src/main/resources/application.properties
eureka-server/src/main/resources/application.yml
#job-search-service/pom.xml
#job-search-service/src/main/java/com/stackroute/jobsearchservice/JobSearchServiceApplication.java
#job-search-service/src/main/java/com/stackroute/jobsearchservice/dto/JobDto.java
#job-search-service/src/main/java/com/stackroute/jobsearchservice/swaggerconfig/Configuration.java
#job-search-service/src/main/resources/application.properties
#job-search-service/src/test/java/com/stackroute/jobsearchservice/testcontroller/ControllerTests.java
#job-search-service/src/test/java/com/stackroute/jobsearchservice/testmodel/JobTests.java
#job-search-service/src/test/java/com/stackroute/jobsearchservice/testserviceImpl/ServiceTests.java
#job-seeker-service/pom.xml
#job-seeker-service/src/main/java/com/stackroute/jobseekerservice/JobSeekerServiceApplication.java
#job-seeker-service/src/main/java/com/stackroute/jobseekerservice/controller/JobSeekerController.java
#job-seeker-service/src/main/java/com/stackroute/jobseekerservice/entity/JobSeeker.java
#job-seeker-service/src/main/resources/application.properties
#job-seeker-service/src/test/java/com/stackroute/jobseekerservice/JobSeekerServiceApplicationTests.java
#job-seeker-service/src/test/java/com/stackroute/jobseekerservice/controller/JobSeekerControllerApplicationTest.java
#job-seeker-service/src/test/java/com/stackroute/jobseekerservice/service/JobSeekerServiceApplicationTest.java
#job-service/pom.xml
#job-service/src/main/java/com/stackroute/jobservice/JobServiceApplication.java
#job-service/src/main/java/com/stackroute/jobservice/configuration/Configuration.java
#job-service/src/main/java/com/stackroute/jobservice/controller/JobServiceController.java
#job-service/src/main/java/com/stackroute/jobservice/dao/JobDto.java
#job-service/src/main/java/com/stackroute/jobservice/dao/Status.java
#job-service/src/main/java/com/stackroute/jobservice/exception/ErrorInfo.java
#job-service/src/main/java/com/stackroute/jobservice/exception/GlobalException.java
#job-service/src/main/java/com/stackroute/jobservice/service/JobService.java
#job-service/src/main/java/com/stackroute/jobservice/service/impl/JobServiceImpl.java
#job-service/src/main/java/com/stackroute/jobservice/util/Constants.java
#job-service/src/main/resources/application.properties
#job-service/src/test/java/com/stackroute/jobservice/JobServiceApplicationTests.java
#job-service/src/test/java/com/stackroute/jobservice/controller/JobServiceControllerTest.java
#job-service/src/test/java/com/stackroute/jobservice/service/impl/JobServiceImplTest.java
#recruiter-service/pom.xml
#recruiter-service/src/main/java/com/stackroute/recruiterservice/RecruiterServiceApplication.java
#recruiter-service/src/main/java/com/stackroute/recruiterservice/configuration/Configuration.java
#recruiter-service/src/main/java/com/stackroute/recruiterservice/configuration/ValidationConfig.java
#recruiter-service/src/main/java/com/stackroute/recruiterservice/controller/RecruiterController.java
#recruiter-service/src/main/java/com/stackroute/recruiterservice/dto/RecruiterDto.java
#recruiter-service/src/main/java/com/stackroute/recruiterservice/dto/Validation.java
#recruiter-service/src/main/java/com/stackroute/recruiterservice/modal/Recruiter.java
#recruiter-service/src/test/java/com/stackroute/recruiterservice/RecruiterControllerTest.java
#recruiter-service/src/test/java/com/stackroute/recruiterservice/RecruiterServiceTest.java

